---
title: "LivImagines: {{ title }}"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LivImagines: {{ title }}</title>
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link href="https://sun-beams.neocities.org/rss.xml" rel="alternate" type="application/rss+xml" title="RSS feed for My Cool Blog">
    <link href=""{{ 'styles/style.css' | url}}"" rel="stylesheet" type="text/css" media="all">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home for the Personal Website of LivImagines">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="https://sun-beams.neocities.org/{{ permalink }}">
    <meta property="og:image" content="https://sun-beams.neocities.org/images/{{ featured_image }}">
    <meta property="og:description" content="{{ description }}">
  </head>
  
  <body>
    <main id="container">

      {% include "components/header.njk" %}

      <!--This is where the bulk of your page lives-->
      <div id="flex">
        <article>
          <h2>{{ title }}</h2>
          {{ content | safe }}
        </article>
      </div>

    </main>

  </body>
</html>