<header id="headerArea">
    <!--If you wanted to put in a header image, this is where you would do it-->
    <h1>LivImagines</h1>
    <nav id="navbar">
        <!--This is where you edit the navbar links at the top of the page-->
        <ul>
            <li>
                <a href="{{ relative_prefix }}index.html">Home</a>
            </li>
            <li>
                <a href="{{ relative_prefix }}gallery.html">Gallery</a>
            </li>
            <li>
                <a href="{{ relative_prefix }}comms.html">Rates</a>
            </li>
            <li>
                <a href="{{ relative_prefix }}contact.html">Contact</a>
            </li>
        </ul>
        
    </nav>
</header>