<!--Loads favicon-->
<link rel="icon" href="images/favicon.png" type="image/x-icon">
    
<!--Loads CSS-->
<link href="styles/style.css" rel="stylesheet" type="text/css" media="all">

<!--Preloads fonts-->
<link rel="preload" 
      href="./fonts/SpecialGothicExpandedOne-Regular.ttf" 
      as="font" 
      type="font/ttf" 
      crossorigin />

<link rel="preload" 
      href="./fonts/SpecialGothicCondensedOne-Regular.ttf" 
      as="font" 
      type="font/ttf" 
      crossorigin />

<link rel="preload" 
      href="./fonts/BebasNeue-Regular.ttf" 
      as="font" 
      type="font/ttf" 
      crossorigin />

<link rel="preload" 
      href="./fonts/CalSans-Regular.tff" 
      as="font" 
      type="font/ttf" 
      crossorigin />